html {
    box-sizing: border-box;
}

body {
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.3px;
    color: black;
    background: #E5E5E5;
}

.header {
    padding: 20px 10px 10px 35px;
    background: white;
}

.contacts {
    display: flex;
    flex-wrap: wrap;
    /* max-width: 350px; */
    padding: 0;
    justify-content: space-between;
}

.contacts li {
    list-style: none;
    text-decoration: none;
}

.contacts li a {
    text-decoration: none;
    color: black;
}

.contacts li a:hover {
    color: rgb(141, 135, 135);
}

.email {
    order: 1;
    flex-basis: 50%
}

.phone {
    order: 3;
    flex-basis: 50%
}

.github {
    order: 2;
    flex-basis: 50%
}

.telegram {
    order: 4;
    flex-basis: 50%
}

.icon {
    padding: 5px 5px 0 5px;
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 10px 10px 15px;
    background: white;
    justify-content: space-between;
    align-items: flex-start;
}

.about_me {
    max-width: 450px;
    padding: 0 20px 15px 25px;
    align-self: flex-start;
}

h2 {
    color: rgb(160, 155, 155);
    border-bottom: 3px solid #E5E5E5;
    font-weight: normal;
    margin-top: 0;
}

.skills {
    max-width: 200px;
    padding: 0 50px 5px 20px;
}

.skills ul {
    list-style-type: disc;
    margin-bottom: 5px;
}

.education {
    max-width: 450px;
    align-self: flex-start;
    max-width: 450px;
    padding: 0 20px 15px 25px;
}

.education_list a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
}

.education_list a:hover {
    /* color: rgb(124, 51, 51); */
    transform: scale(0.9);
    opacity: 0.2;
}